<template>
    <div>
        <h1>Items</h1>

        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <router-link :to="{ name: 'CreateItem' }" class="btn btn-primary">Create Item</router-link>
          </div>
        </div><br />

        <table class="table table-hover">
            <thead>
            <tr>
                <td>Index</td>
                <td>ID</td>
                <td>Pic</td>
                <td>Item Name</td>
                <td>Qty</td>
                <td>Item Price</td>
                <td>Summ</td>
                <td>Actions</td>
            </tr>
            </thead>

            <tbody>
                <tr v-for="(item,index) in items" :key="item.id">
                    <td>{{index}}</td>
                    <td>{{ item.id }}</td>
                    <td>
                        <div class="cart-item-image">
                            <img :src="!!!item.images[0]?'нэма':'http://vsekmv.ru'+item.images[0].small" />
                        </div>
                    </td>
                    <td>{{ item.name }}</td>
                    <td><button v-on:click="minusPrice(item)">-</button>{{ item.quantity }}<button v-on:click="plusPrice(item)">+</button></td>
                    <td>{{ item.price }}</td>
                    <td>{{item.sum}}</td>
                    <td><router-link :to="{name: 'EditItem', params: { id: item.id }}" class="btn btn-primary">Edit</router-link></td>
                    <td><button class="btn btn-danger" v-on:click="deleteItem(item.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    import Vue from 'vue';
    export default {
        data(){
            return{
                items: []
            }
        },

        created: function()
        {
            this.fetchItems();
        },

        methods: {
            fetchItems()
            {
              let uri = `http://vuetest.es/get_cart_products?order_id=1`;
              this.axios.get(uri).then((response) => {
                  this.items = response.data;
                  console.log(response.data);
                  // this.$parent.quantity=response.data.length;
              });
                let uri2 = `http://vuetest.es/get_cart?order_id=1`;
                this.axios.get(uri2).then((response) => {
                    // this.cart = response.data;
                    this.$parent.quantity=response.data;
                });
            },
            deleteItem(id)
            {
                let uri = `http://vuetest.es/items/${id}`;
                this.items.splice(this.items.indexOf(id), 1);
                this.axios.delete(uri);
                this.$parent.quantity=this.$parent.quantity-1;
            }
            ,
            plusPrice(item) {
                if (item['price'] < 99) {
                    Vue.set(item, 'price', item['price'] + 1);
                    let uri = `http://vuetest.es/items/${item['id']}`;
                    this.axios.patch(uri, item).then((response) => {
                        this.$router.push({name: 'DisplayItem'});
                    });
                }
            }
            ,
            minusPrice(item) {
                if (item['price'] > 1) {
                    item['price']>1&&Vue.set(item, 'price', item['price'] - 1);
                    let uri = `http://vuetest.es/items/${item['id']}`;
                    this.axios.patch(uri, item).then((response) => {
                        this.$router.push({name: 'DisplayItem'});
                    });
                } else {
                    this.deleteItem(item['id']);
                }
            }
        }
    }
</script>
