<template>
    <div class="container">
        <cartmenu  v-bind:qty="quantity"></cartmenu>
        <div>
            <transition name="fade">
                <router-view></router-view>
            </transition>
        </div>
    </div>
</template>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
    .cart-item-image{
        width: 100px;
        height: 100px;
        background-color: grey;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        border-radius: 50%;
    }
    .cart-item-image img{
        max-height: 100%;
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }
</style>

<script>

    export default{
        data: {quantity: 0}
    }
</script>
